.incident-content {
    background: #fff;
    padding: 24px;
    border-radius: 8px;
    position: relative;
}

.incident-content button {
    position: absolute;
    right: 24px;
    top: 24px;
    border: 0;
}

.incident-content button:hover {
    opacity: 0.8;
}

.incident-content strong {
    display: block;
    margin-bottom: 16px;
    color: #41414d;
}

.incident-content p + strong {
    margin-top: 32px;
}

.incident-content p {
    color: #737380;
    line-height: 21px;
    font-size: 16px;
}